@using Gringotts.Web.Internals
@inject AccessTokenStore TokenStore

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Gringotts</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        @if (_hasToken)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="customers">
                    <span class="bi bi-people-fill" aria-hidden="true"></span> Customers
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="transactions">
                    <span class="bi bi-list-nested" aria-hidden="true"></span> Transactions
                </NavLink>
            </div>
        }        
    </nav>

    @if (_hasToken)
    {
        <div class="nav-item logout-footer px-3">
            <NavLink class="nav-link btn-logout" href="logout" style="padding-left: 16px">
                <span class="bi bi-box-arrow-right" aria-hidden="true"></span> Logout
            </NavLink>
        </div>
    }
</div>

@code {
    private bool _hasToken;

    protected override async Task OnInitializedAsync()
    {
        _hasToken = await TokenStore.HasTokenAsync().ConfigureAwait(false);
    }
}
